#accLoggedIn
{
    max-height: 70vh;
    margin: 80px 3% auto 3%;
    display: flex;
}
#accLoggedIn.menuOpened
{
    animation: whenMenuOpens 1s forwards;
}
#accLoggedIn.profilOpened
{
    animation: whenProfilOpens 1s forwards;
}

@keyframes whenMenuOpens {
    from{
        transform:translateX(0px);
    }
    to {
        transform:translateX(100px);
    }
}

@keyframes whenProfilOpens {
    from{
        transform:translateX(0px);
    }
    to {
        transform:translateX(-130px);
    }
}