#modal
{
    display: block;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    color: rgb(138, 74, 176);

}
#modal-content
{
    background-color: whitesmoke;
    width: 60vw;
    margin: 10vh auto;
    text-align: center;
    font-size: large;
}
#modal-content header
{
    border-bottom: 1px black solid;
}
.agendaModal h1
{
    font-size: x-large;
}
#modal-content #labelType,
#modal-content #type,
#modal-content #labelAllDay,
#modal-content #all-day
{
    margin-top: 15px;
    margin-bottom: 20px;
}
#modal-content select.listeType:hover,
#modal-content #labelAllDay:hover,
#modal-content #allDay:hover
{
    cursor: pointer;
}
div.eventTypeContent
{
    text-align: center;
}
.tableEventDate, .tableEventTypeContent_evenement, .table_Obj_description
{
    margin: 25px auto;
}
.tableEventDate td, .tableEventTypeContent_evenement td, .table_Obj_description td
{
    padding: 5px;

}
.tableEventDate td:nth-child(n), .tableEventTypeContent_evenement td:nth-child(n),
.table_Obj_description td:nth-child(n)
{
    text-align: right;
}
.tableEventDate td:nth-child(2n), .tableEventTypeContent_evenement td:nth-child(2n),
.table_Obj_description td:nth-child(2n)
{
    text-align: left;
}
#inputObj
{
    width: 100%;
}
#inputDescription
{
    resize: none;
    height: 8em;
    width: 101%;
}
.tableEventTypeContent_evenement
{

}
.tableEventTypeContent_evenement td.liste_invites
{
    text-align: center;
}
.tableEventTypeContent_evenement td#liste_invites_label
{
    padding-top: 20px;
}
textarea#liste_invites
{
    height: 10vh;
    width: 50%;
}
#modal-content #type select
{
    color: rgb(138, 74, 176);
}
#modal-content #type select#dispo
{
    background-color: rgb(157, 177, 224);
}
#modal-content #type select#rdv
{
    background-color: rgb(250, 254, 0);
}
#modal-content #type select#evenement
{
    background-color: rgb(177, 214, 153);

}
#modal-content span.close
{
    float: right;
    margin: 0;
    font-weight: bold;
    color: grey;
}
#modal-content span.close:hover
{
    cursor: pointer;
    color: black;
}
.addButton
{
    height: 18px;
    width: 20px;
    border-radius: 8px;
    outline: 0;
    border: none;
    position: relative;
    top: 2px;
    background-image: url('./img/plus_rond2.png');
    background-repeat: no-repeat;
    background-position: center;
}
#searchBarInvite
{
    width: 80%;
}
.tableEventTypeContent_evenement td#liste_invites_content
{
    margin: auto;
    height: 20vh;
}
textarea#liste_invites
{
    width: 80%;
    resize: none;
    text-align: center;
    overflow: scroll;
    height: 100%;
}
/*.tableEventTypeContent td#liste_invites_content div#liste_invites
{
    border: 1px rgb(138, 74, 176) solid;
    height: 15vh;
    width: 60%;
    margin: auto;
    font-size: small;
}
.tableEventTypeContent td#liste_invites_content div#liste_invites ul#ul_invites
{
    padding-inline-start: 0;
    margin-top: 5px;
    list-style: none;
}

.tableEventTypeContent td#liste_invites_content div#liste_invites li.li_user_invited
{
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: rgb(138, 74, 176) 1px solid;
}*/
.modalButton
{
    background-color: rgb(138, 74, 176);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    transition: background-color 0.5s;
    outline: 0;
}
.modalButton:hover
{
    background-color: #9575cd;
    cursor: pointer;
}
.modalButton:active
{
    box-shadow: 0px 0px 5px inset black;
}