.Inscription
{
    color: rgb(138, 74, 176);
    padding-bottom: 100%;
}
.formInscription fieldset
{
    border: unset;
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
    width: 60vw;
    height: 60vh;
    margin: auto;
    background-color: white;
}
.formInscription h2
{
    font-size: 1.5em;
    margin: 20px auto 45px auto;
}
.formInscription
{
    text-align: center;
}
.formInscription input, #goIscription
{
    display: block;
    margin: 20px auto 5px auto;
    width: 200px;
    font-size: medium;
    border-radius: 5px;
    outline: 0;
}
div#divConsentement
{
    display: flex;
    margin-top: 10%;
    text-align: justify;
}
input#consent:hover
{
    cursor: pointer;
}
label#labelConsent:hover
{
    cursor: pointer;   
}
#goInscription
{
    margin-top: 10%;
    background-color: rgb(138, 74, 176);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}