div.parametre
{
    text-align: center;
    position: relative;
    margin-top: 80px;
    margin: 80px auto 0 auto;
    width: 40%;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 1px 5px 20px black;
    padding: 2%;
}

.inputParam
{
    font-size: 20px;
    position: relative;
    margin-top: 10px;
    width: 60%;
    text-align: center;
}
.bouton_modifier
{
    width: 200px;
    position: relative;
    margin-top: 10px;
    font-size: 1em;
}

.bouton_modifier#save,
.bouton_modifier#reset
{
    position: relative;
    margin-top: 30px;
}

.inputParamPass
{
    font-size: 20px;
    position: relative;
    margin-top: 20px;
    width: 50%;
    text-align: center;
}
.inputParamPass#mdp
{
    margin-top: 80px;
    margin-bottom: 0;
}
.bouton_modifier#modifMdp
{
    position: relative;
    margin-top: 50px;
    width: 200px;
}

